/* Animation classes */
.container-anim:hover > .container-face {
    bottom: 1.5vmin;
    right: 1.5vmin;
}

.container-anim:active > .container-face {
    bottom: 0.5vmin;
    right: 0.5vmin;
    transition: top 50ms, left 50ms;
}

.container-anim {
    position: relative;

    width: 20vmin;
    height: 10vmin;
    min-width: fit-content;
    min-height: fit-content;
    max-width: 100%;
    max-height: 100%;
    margin: 2.5vmin;

    border-style: solid;
    border-width: 0.5vmin;
    background-color: black;
}

/* No animation classes */
.container {
    position: relative;

    width: 20vmin;
    height: 10vmin;
    min-width: fit-content;
    min-height: fit-content;
    max-width: 100%;
    max-height: 100%;
    margin: 2.5vmin;

    border-style: solid;
    border-width: 0.5vmin;
    background-color: black;
}

.container-face {
    z-index: 0;
    position: relative;
    bottom: 1vmin;
    right: 1vmin;
    overflow: hidden;
    width: calc(100% - 4vmin);
    height: calc(100% - 4vmin);
    padding: 2vmin;

    border-style: solid;
    border-width: 0.5vmin;
    background-color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    transition: bottom 250ms, right 250ms;
}

.bgImg {
    z-index: -1;
    position: absolute;
    pointer-events: none;
    width: 150vmin;
    min-width: 150%;
    opacity: 100%;
    mix-blend-mode: overlay;
    transform: rotate(-20deg);
}
