.taken {
    width: 10%;
    height: 5%;
    background-color: red;
}

.free {
    width: 10%;
    height: 5%;
    background-color: none;
}

.tetromino {
    width: 10%;
    height: 5%;
    background-color: blue;
}

.takenorange {
    width: 10%;
    height: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/orange.png);
}

.takenred {
    width: 10%;
    height: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/red.png);
}

.takenpurple {
    width: 10%;
    height: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/purple.png);
}

.takengreen {
    width: 10%;
    height: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/green.png);
}

.takenblue {
    width: 10%;
    height: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/blue.png);
}

.takencyan {
    width: 10%;
    height: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/cyan.png);
}

.takenyellow {
    width: 10%;
    height: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/yellow.png);
}
.orange {
    width: 10%;
    height: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/orange.png);
}

.red {
    width: 10%;
    height: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/red.png);
}

.purple {
    width: 10%;
    height: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/purple.png);
}

.green {
    width: 10%;
    height: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/green.png);
}

.blue {
    width: 10%;
    height: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/blue.png);
}

.cyan {
    width: 10%;
    height: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/cyan.png);
}

.yellow {
    width: 10%;
    height: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/yellow.png);
}

.miniFree {
    width: 25%;
    height: 25%;
    background-color: none;
}

.miniTetromino {
    width: 25%;
    height: 25%;
    background-color: blue;
}

.miniorange {
    width: 25%;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/orange.png);
}

.minired {
    width: 25%;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/red.png);
}

.minipurple {
    width: 25%;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/purple.png);
}

.minigreen {
    width: 25%;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/green.png);
}

.miniblue {
    width: 25%;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/blue.png);
}

.minicyan {
    width: 25%;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/cyan.png);
}

.miniyellow {
    width: 25%;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../public/Colors/yellow.png);
}

/*scoreboard*/
.scoreboard {
    width: 100%;
    height: 50%;
    min-width: fit-content;
    min-height: fit-content;
    background-color: rgb(230, 230, 230);

    display: table;
    text-align: center;
    border-spacing: 20px 20px;
}
.scoreboard > span {
    display: block;
    margin: 10px;
    text-align: center;
}

/*unpause animation*/
.animate {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 10vmin;
    text-shadow: -7px -7px 0 white, 0 -7px 0 white, 7px -7px 0 white,
        7px 0 0 white, 7px 7px 0 white, 0 7px 0 white, -7px 7px 0 white,
        -7px 0 0 white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
